.playerOuter {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;

  z-index: 999;
  bottom: -100vh;
  transition: all 400ms ease-in-out;
  background: black;
  padding: 32px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .controls {
    margin-bottom: 16px;
  }

  .bgArtwork {
    background-size: cover;
    background-position: center;
    position: absolute;
    left: -100px;
    right: -100px;
    top: -100px;
    bottom: -100px;
    filter: blur(32px);
    -webkit-filter: blur(32px);
    opacity: .4;
  }


  &.open {
    bottom: 0;
  }

  .figure {
    width: 100%;
    aspect-ratio: 1;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    z-index: 99;
    position: relative;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  }

  .meta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0 8px;
    z-index: 99;
    position: relative;
    flex: 1;

    .info {
      display: flex;
      flex-direction: column;
      min-width: 0;

      .title {
        font-weight: 600;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

      }
      .author {
        font-size: 11px;
        opacity: .4;
      }
    }
  }

  .playerControls {
    position: relative;
    z-index: 99999;
    .timer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .time {
        font-size: 12px;
        opacity: .4;
      }
    }

    .controlButtons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 24px;

      .small {
        font-size: 20px;
        color: white;
        position: relative;

        .repeatOne {
          display: flex;
          position: absolute;
          bottom: -4px;
          right: -4px;
          width: 14px; height: 14px;
          border-radius: 50%;
          font-size: 12px;
          font-weight: 500;
          align-items: center;
          justify-content: center;
          background-color: white;
        }
      }
      .large {
        font-size: 48px;
        color: white;
      }

    }
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80%;
    background: linear-gradient(to top, rgba(0, 0, 0, .9) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
  }
}
