.outer {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px;

    .title {
      margin: 0;
    }
  }

  .content {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .list {
    padding: 0 24px;
    .item {
      cursor: pointer;
      .artwork {
        aspect-ratio: 1;
        background-size: cover;
        background-position: center;
        border-radius: 8px;
      }

      .meta {
        padding-top: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: 0;

        .info {
          flex: 1;
          display: flex;
          flex-direction: column;
          min-width: 0;

          .name {
            min-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .authors {
            min-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 11px;
            opacity: .5;
          }
        }

        .controls {
          opacity: 0;
          transition: all 200ms ease-in-out;
        }
      }
      &:hover {
        .meta {
          .controls {
            opacity: 1;
          }
        }
      }
    }
  }

}
