.outer {
  width: 100%;
  min-width: 0;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  aspect-ratio: 1.6;
  position: relative;
  background-size: cover;
  background-position: center;
  z-index: 0;

  .backButton {
    position: absolute;
    left: 16px;
    top: 16px;
  }

  .figure {

  }

  .playlistMeta {
    z-index: 9;
    position: absolute;
    left: 0; right: 0;
    bottom: 32px;
    padding: 16px;

    .title {
      margin: 0;
    }
  }


  &:after {
    content: '';
    position: absolute;
    left: 0; right: 0; bottom: 0;
    height: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 1)));
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  position: relative;
  border-top-right-radius: 24px;
  z-index: 1;
  margin-top: -32px;
  padding-top: 16px;

  .playlistControls {
    z-index: 100;
    position: absolute;
    right: 32px;
    top: -27px;

    .playButton {
      width: 54px;
      height: 54px;
      border-radius: 50%;
      border: none;
      font-size: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      background: #faa800;
      cursor: pointer;
      transition: all 200ms ease-in-out;

      &:hover {
        color: #faa800;
        background: white;
      }
    }
  }

  .exControls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 100px;
    padding-bottom: 8px;
  }
}
