.outer {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  max-height: 900px;
  border-radius: 16px;
}

.playerOuter {

}

.content {
  display: flex;
  flex-grow: 1;
  min-height: 0;
  position: relative;
}

