.outer {
  height: 80px;
  background-color: #262626;
  display: flex;
  flex-direction: row;
  transition: all 200ms ease-in-out;
  position: relative;
}

.slider {
  position: absolute;
  left: 0;
  right: 0;
  top: -16px;
}

.playControls {
  padding-left: 16px;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.info {
  flex: 1;
}

.audioControls {
  flex: 1;
}

@media (max-width: 912px) {
  .outer {
    height: 64px;
  }

  .playControls {
    .timer {
      display: none;
    }
  }
}
