.outer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; right: 0;
  bottom: -100vh;
  transition: all 400ms ease-in-out;
  z-index: 10000;
  display: flex;
  flex-direction: column;

  .controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px;
  }

  .meta {
    padding: 0 32px;

    .title {
      margin: 0;
      padding-bottom: 16px;
    }
  }

  .content {
    flex: 1;
    overflow-y: auto;
  }

  &.open {
    bottom: 0;
  }
}

.item {
  display: flex;
  flex-direction: row;
  padding: 8px 32px;
  gap: 16px;
  align-items: center;
  min-width: 0;

  .itemMeta {
    display: flex;
    flex-direction: column;
    min-width: 0;
    flex: 1;

    .title {
      font-weight: 600;
      font-size: 13px;
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .author {
      font-size: 12px;
      opacity: .8;
    }

    &.active {
      .title {
        color: #faa800;
      }
    }
  }

  .itemControls {
    color: #ffffff44;
  }

  .artwork {
    width: 48px;
    height: 48px;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
  }
}
