.title {
  margin: 0;
  transition: all 300ms ease-in-out;
}

.peerInfo {
  .label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
  }
}

.connectCard {
  margin-top: 16px;

  .connectForm {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .createRoomForm {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  .tabContent {
    padding: 0 16px 16px;
  }
}
